{% assign url = post.url %}
{% assign data = post.data %}
<li class="List__item">
  <div class="List--secondary-content Margin-1">
    <time>{{ post.date | date_formatted }}</time>
    <span>
      {% for tag in data.tags %}
      <a href="/tags/{{tag}}" class="TagLink">#{{ tag }}</a>
      {% endfor %}
    </span>
    <span class="Reading-Time">
      ~ {{ post | timeToRead }}
    </span>
  </div>
  <a class="List-ItemLink List--primary-content" href="{{ url }}">
    <span class="TitleShadow Link Link--OnHover">{{ data.title }}</span>
    <span aria-hidden="true" class="List-ItemVisitedStatus"></span>
  </a>
  <p>{{ data.excerpt | markdownify_inline }}</p>
  <div>
    <a href="{{ url }}" class="Link">read more ⟶</a>
  </div>
</li>