---
title: Privacy Policy
permalink: /privacy
layout: layouts/default
eleventyExcludeFromCollections: true
---

<h2>Introduction </h2>

<p>At iamninad.com, we use both Heap Analytics and Google Ads to gain insights into how our visitors interact with our website and to display relevant advertisements. This privacy policy explains how we collect, use, and protect your personal information when you use the Heap Analytics and Google Ads platforms on our website.</p>

<h2>Information We Collect</h2>

<p>When you visit iamninad.com and interact with our website, Heap Analytics and Google Ads may collect certain information from you, including:</p>

<p><em>Device information:</em> This includes information about the device you are using to access our website, such as the type of device, operating system, and browser version.</p>

**Usage information:** This includes information about how you use our website, such as the pages you visit, the links you click on, and how long you spend on each page.

**Referral information:** This includes information about how you arrived at our website, such as the website you came from or the search term you used to find us.

**IP address:** This is a unique identifier that is automatically assigned to your device when you connect to the internet.

We use this information to help us understand how visitors use our website and to improve the user experience. Heap Analytics and Google Ads do not collect any personally identifiable information, such as your name or address.

## Use of Cookies

Heap Analytics and Google Ads use cookies to collect information about your use of our website. A cookie is a small text file that is stored on your device when you visit a website. Cookies help us remember your preferences and provide a better user experience.

You can control the use of cookies on our website by adjusting your browser settings. However, please note that disabling cookies may limit your ability to use certain features of our website.

## Legal Basis for Data Processing:

The legal basis for processing your personal information on our website is your consent. By using our website, you consent to the collection and processing of your personal information by Heap Analytics and Google Ads for the purposes described in this privacy policy.


## Third-Party Disclosure

We do not share your personal information with third-party companies or organizations, except as required by law or as necessary to provide our services to you. Heap Analytics and Google Ads are third-party service providers, but they are contractually obligated to use your information only for the purposes of providing analytics services and advertising services to us and are bound by confidentiality obligations.

## Data Security

We take the security of your personal information very seriously and have implemented appropriate measures to protect it from unauthorized access, use, or disclosure. We use industry-standard security practices to safeguard your information, including encryption and firewalls.

## Data Retention:

We retain your personal information only for as long as necessary to provide you with our services and for legitimate business purposes, as outlined in this privacy policy.

## Your Rights:

Under the GDPR, you have the right to access, correct, delete, and restrict the processing of your personal information. You also have the right to object to the processing of your personal information and the right to data portability. If you wish to exercise any of these rights, please contact us by creating
issue in [AMA](https://github.com/ninadingole/ama).

## Changes to Our Privacy Policy

We reserve the right to modify this privacy policy at any time. Any changes will be reflected on this page, and your continued use of our website after any changes have been made constitutes your acceptance of the new policy.

## Contact Us

If you have any questions or concerns about our privacy policy or how we handle your personal information, please contact us by raising an Issue on [AMA](https://github.com/ninadingole/ama).
