pre {
  margin: var(--vb) 0;
  padding: 1.25em 1.5em;
  overflow: auto;
  position: relative;
  background-color: var(--code-bg);
  font-family: inherit; /* 1 */
}


@media (min-width: 1024px) {
  /**
   * 1. Increase width so the code container looks wider than the body text, but
   *    the text within it is aligned with the body text.
   */
  pre {
    width: calc(100% + 4em); /* 1 */
    padding: 1.5em 2em; /* 1 */
    left: -2em; /* 1 */
  }
}

pre::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  width:100%;
  border-radius: 4px 4px 0 0;
  opacity: 0.7;
  background-image: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2));
}

pre code {
  display: block;
  overflow: inherit;
}

code {
  font-family: var(--code-font);
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 80%;
}


:not(pre):not(a) > code {
  background: var(--inline-code-bg);
  border-radius: 0.25em;
  padding: 0 0.2em;
  font-size: 70%;
}

.namespace {
  opacity: 0.7;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #b362ff;
}

.token.delimiter,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
  color: #ff9d00;
}

.token.operator,
.token.attr-name {
  color: rgb(255, 180, 84);
}

.token.punctuation {
  color: #be5269;
}

.token.boolean {
  color: rgb(255, 98, 140);
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  color: rgb(255, 157, 0);
}

.token.entity,
.token.symbol {
  color: #6897bb;
}

.token.number {
  color: #ff628c;
}

.token.property,
.token.constant,
.token.variable {
  color: #ff628c;
}

.token.string,
.token.char {
  color: #54a93b;
}

.token.attr-value,
.token.attr-value .punctuation {
  color: #a5c261;
}

.token.attr-value .punctuation:first-child {
  color: #a9b7c6;
}

.token.url {
  color: #287bde;
  text-decoration: underline;
}

.token.function {
  color: rgb(250, 208, 0);
}

.token.regex {
  background: #364135;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  background: #00ff00;
}

.token.deleted {
  background: #ff000d;
}
