.CollectionNavigation {
  display: flex;
  position: relative;
  flex-flow: row;
  justify-content: space-between;
  margin-top: calc(var(--vb) * 3);
  font-size: 90%;
}

.CollectionNavigation::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  border-radius: 4px;
  height: 4px;
  background-image: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2));
  margin-top: var(--vb);
}

.CollectionNavigation--end {
  justify-content: flex-end;
}

.CollectionNavigation__item {
  max-width: 50%;
  position: relative;
  margin-top: var(--vb);
  line-height: 1.1;
}


.CollectionNavigation__item--next {
  text-align: right;
}

.CollectionNavigation__item--next::before,
.CollectionNavigation__item--previous::before {
  position: absolute;
  color: var(--gradient-color-1);
  top: 0;
  font-weight: bold;
}

.CollectionNavigation__item--previous::before {
 right: 100%;
  margin-right: 1ch;
}

.CollectionNavigation__item--next::before {
  left: 100%;
  margin-left: 1ch;
}

.CollectionNavigation__link::before {
  content: '';
  display: block;
  width: 100%;
  margin: calc(var(--vb) / 3) 0 0;
}

@media (min-width: 768px) {
  .CollectionNavigation__item--previous::before {
    content: '←';
  }

  .CollectionNavigation__item--next::before {
    content: '→';
  }
}

.CollectionNavigation__link {

}
