.Pagination {
  display: flex;
  position: relative;
  flex-flow: row;
  justify-content: space-between;
  margin-top: calc(var(--vb) * 3);
}

.Pagination::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  border-radius: 4px;
  height: 4px;
  background-image: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2));
  margin-top: var(--vb);
}

.CollectionNavigation--end {
  justify-content: flex-end;
}

.CollectionNavigation__item {
  max-width: 50%;
  margin-top: var(--vb);
  line-height: var(--line-height);
}
