<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}

<body>
    {% include "gtm.html" %}
    {% include "skip_link.html" %}
    {% include "header.html" %}

    <div class="Container">

        <main id="main-content" class="Content" tabindex="-1">
            {% block header %}{% endblock %}
            {% block content %}
            {{ content }}
            {% endblock content %}
        </main>



        {% include "footer" %}

      
    </div>

    {% comment %} Icon adapted from Gatsby narrative theme {% endcomment %}
  
    <button class="ThemeButton js-theme-btn" aria-label="Activate dark mode" title="Activate dark mode">
        <div></div>
        <div></div>
    </button>

    {% include "scripts.html", partials: "instant, head, main, app" %}

</body>

</html>
