<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}

<body>
{% include "gtm.html" %}
{% include "skip_link.html" %}
{% include "header.html" %}

<main id="main-content" class="Content" role="main">
  <div class="Container">
    {% block header %}{% endblock %}
    {% block content %}
    {{ content }}
    {% endblock content %}
  </div>
</main>

{% include "footer.html" %}
{% comment %} Icon adapted from Gatsby narrative theme {% endcomment %}

<button class="ThemeButton js-theme-btn" aria-label="Activate dark mode" title="Activate dark mode">
  <div></div>
  <div></div>
</button>

{% include "scripts.html", partials: "instant, head, main, app" %}


</body>

</html>
