---
 css: 
    - 'post'
    - 'prisma'
 js: 
    - 'post'
 ogtype: article
---
{% extends 'layouts/base.njk' %}

{% block content %}
    <section class="PageHeader MarginTop-xxl">
        <h1 class="Heading PageHeader--Heading">
            <span>{{title}}</span>
        </h1>
        <div class="Text--Secondary MarginY-xxs">
            <time>{{ date | date_formatted }}</time>
            <span>
                {% for tag in tags %}
                    <a href="/tags/{{tag}}" class="TagLink">#{{ tag }}</a>
                {% endfor %}
            </span>
            <span class="Reading-Time">
                ({{ content | readingTime }})
            </span>
        </div>

        <div class="PostSummary">
            <strong>tl;dr: </strong>{{summary}}
        </div>
    </section>

    {% if postImage %}
        <section class="Banner-Image" id="banner">
            {%  resI postImage, title, [750, 900, 1200]  %}
            <div class="Credits">
                {%  Link postImageCredits | linkUrl, true, postImageCredits | linkName, "Link"  %}
                on
                {%  Link postImageSource | linkUrl, true, postImageSource | linkName, "Link"  %}
            </div>
        </section>
    {% endif %}

    <article class="Article">
        {{ content | safe }}
    </article>
{% endblock %}