---
 css: 
    - 'post'
    - 'prisma'
 js: 
    - 'post'
 ogtype: article
---
{% extends 'layouts/base.njk' %}

{% block content %}
    <section class="PageHeader MarginTop-xxl">
        <h1 class="Heading PageHeader--Heading">
            <span>{{title}}</span>
        </h1>
        <div class="Text--Secondary MarginY-xxs">
            <time>{{ date | date_formatted }}</time>
            <span>
                {% for tag in tags %}
                    <a href="/tags/{{tag}}" class="TagLink">#{{ tag }}</a>
                {% endfor %}
            </span>
            <span class="Reading-Time">
                ({{ content | readingTime }})
            </span>
        </div>

        <div class="PostSummary">
            <strong>tl;dr: </strong>{{summary}}
        </div>
    </section>

    {% if postImage %}
        <section class="Banner-Image" id="banner">
            {%  resI postImage, title, [750, 900, 1200]  %}
            <div class="Credits">
                {%  Link postImageCredits | linkUrl, true, postImageCredits | linkName, "Link", true  %}
                on
                {%  Link postImageSource | linkUrl, true, postImageSource | linkName, "Link", true  %}
            </div>
        </section>
    {% endif %}

    <article class="Article">
        {{ content | safe }}
    </article>

    <section class="other-links">
        <ul class="post-nav">
            {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
            {%- if nextPost %}
                <li class="next">
                    {% Link nextPost.url | url, false, nextPost.data.title, "Link" %}
                    <i class="fas fa-chevron-right"></i>
                </li>
            {% endif %}
            {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
            {%- if previousPost %}
                <li class="previous">
                    <i class="fas fa-chevron-left"></i>
                    {% Link previousPost.url | url, false, previousPost.data.title, "Link" %}
                </li>
            {% endif %}
        </ul>
    </section>
    <div class="Separator MarginY-xl"></div>
    <section>
      <div id="disqus_thread"></div>
    </section>
    
    <script async>
       (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://iamninad.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}
