---
layout: default
title: "Hi from Neenad"
keywords:
  - developer
  - writer
  - developer-advocate
  - polyglot-programmer
permalink: /
---

{% include "styles.html", partials:"home" %}


   {% comment %} Icon adapted from Gatsby narrative theme {% endcomment %}
   <button class="ThemeButton js-theme-btn" aria-label="Activate dark mode" title="Activate dark mode">
     <div></div>
     <div></div>
   </button>
