.Title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.15;
  margin: 0 auto 0.5rem;
  text-align: center;
  color: #dd7eb4;
}

@media (min-width: 768px) {
  .Title {
    font-size: 3.5em;
    margin-bottom: 0;
  }
}

.Title__link {
  display: inline-block;
  border-bottom: 0;
  text-decoration: none;
  background-image: linear-gradient(to right,#FFF6B7,#F6416C);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media print {
  .Title {
    font-size: 2em;
  }
}
