.Navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 80%;
}

.Navigation__item {
  list-style: none;
  display: inline-block;
}
.Navigation__list>li:not(:last-of-type)::after {
  content: "âƒ";
  color: var(--text-secondary-color);
  margin: 0 0 0.5ch;
}
