<header class="Header Flex Flex--alignCenter Flex--justifyBetween">
   <h1 class="Heading">
      <a href="/">
         {{ title }}
      </a>
   </h1>
   <div class="Menu Flex Flex--alignCenter">
      <a href="https://github.com/sponsors/ninadingole" target="_blank" class="Link Header-Link">sponsor</a>
      <a href="https://medium.com/@iamninad" target="_blank" class="Link Header-Link">medium</a>
      <a href="/archive" class="Link Header-Link">archive</a>
      <a href="/feed.xml" target="_blank" class="Link Header-Link">rss</a>
      {# Icon adapted from Gatsby narrative theme #}
      <button class="ThemeButton js-theme-btn" aria-label="Activate dark mode" title="Activate dark mode">
         <div ></div>
         <div ></div>
      </button>
   </div>
</header>
