<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1093249658913290"
     crossorigin="anonymous"></script>
<!-- HomePage Ads -->
<ins class="adsbygoogle homePageAds"
     style="display:block"
     data-ad-client="ca-pub-1093249658913290"
     data-ad-slot="3255807353"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
