<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PHB9929');</script>
<!-- End Google Tag Manager -->

<!-- Google Ads Recovery -->
<script async src="https://fundingchoicesmessages.google.com/i/pub-1093249658913290?ers=1" nonce="lKOojAofULjSRepmJmosww"></script><script nonce="lKOojAofULjSRepmJmosww">(function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();</script>

{% seo "" %}

{% block content %}
  {% if canonicalLink %}
    <link rel="canonical" href="{{ canonicalLink }}">
  {% endif %}
{% endblock %}

<link rel="icon apple-touch-icon" href="/assets/images/apple-touch-icon.png" sizes="180x180" type="image/png"/>
<link rel="icon" href="/assets/images/favicon-96x96.png" sizes="96x96" type="image/png"/>
<link rel="icon" href="/assets/images/favicon-32x32.png" sizes="32x32" type="image/png"/>
<link rel="icon" href="/assets/images/favicon-16x16.png" sizes="16x16" type="image/png"/>
<link rel="manifest" href="/manifest.json"/>
